body{
    margin:0px;
    font-family: 'Oswald', sans-serif;
}

h1 {
    color:#110f0f;
    font-size:50px;
    margin-top: 10px;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.mission  {
    color:#af41ea;
    text-transform: lowercase;
}
p {
    color:#656368;
    font-size: 16px;
    margin:30px 100px 30px 0px;
    line-height: 22px;
}

.top-section {
    display:flex;
    padding:0px 10% 50px;
   
    
}

.left-aria {

    width:50%;
    
}

.left-aria img {
    width:70%;
    display:block;
	margin:auto;
    margin-left: 80px;
   
}
.top-left-aria {
    margin-top:120px;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 20px;
    color: #ffffff;
    background-color: violet;
    border-radius: 4px;

}

middle-1-section h1 {

    text-align: center;
    margin:40px 0px 80px 0px;
}

.digit {

    color:tomato;
    
}
.img-box-section {

    display: flex;
    padding:20px 10% 50px;
    
}
.img-box {
    width:33%;
    text-align: center;
    padding-bottom: 50px;        
}
.box-1 {

    background-color: #00ffaa25;
    margin-right: 20px;
    border-radius: 10px;
}
.box-2 {

    background-color: #cc00ff1a;
    margin-right: 20px;
    border-radius: 10px;
}
.box-3 {
    background-color: #f9e79f98;
    margin-right: 20px;
    border-radius: 10px;
}
.img-box p {

    margin: 0px 40px;
    color:#000000e0;
    font-weight: 700px;
}
.img-box img {
    width:30%;
}

.develop-section {

    display: flex;
    padding: 50px 10%;
    background-image: url("images/shape-1.png");
    background-repeat: no-repeat;
    background-size: 13%;
    background-position: 6% 150px;
}

.develop-left-aria {

    width: 50%;
}

.develop-left-aria img {

    width: 75%;

}
 h2{

   font-size: 37px;
   font-weight: 700px;
   margin-bottom:-15px;
}
.documentation {

    margin-top: 40px;
}

.documentation  a {

    background-color: rgb(128, 43, 226);
   
}

.community-section {

    display: flex;
    padding: 80px 10%;
    background-image: url("images/shape-1.png");
    background-repeat: no-repeat;
    background-size: 11%;
    background-position: 87% 380px;
   
}

.community-left-aria {

    width: 50%;
}

.community-left-aria img {

    width: 70%;
    display: block;
    margin: auto;

}

